main{
  margin-top: 100px;
}

.ll_jumbotron{
  width: 100%;
  background-color: blue;
}

.ll_jumbotron .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ll_jumbotron .container .row .col-xs-12{
  height: 200px;    /* da cancellare in modo tale che si possa adattare al contenuto */
  border: 2px solid yellow;
}