/* classi generali */

/* padding */

.ll_padding_left0{
  padding-left: 0;
}

.ll_padding_left47{
  padding-left: 47px;
}
/* margin */

.ll_margin_left_40{
  margin-left: 40px;
}

.ll_margin_bottom_20{
  margin-bottom: 20px;
}
/* bordi container */

.ll_border_radius{
  border-radius: 10px;
}

/* box shadow */
.ll_box_shadow{
  -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.55);
  box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.55);
}
/* colori */

.b_colorebianco{
  background-color: white;
}

.colorebianco{
  color: white;
}

.b_colorecelestinochiaro{
  background-color: #579aff;
}
.colorecelestino{
  color: #006aff;
}





/* navbar da finire */
.ll_nav{
  vertical-align: middle;
}

.ll_nav .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ll_nav .container .row .col-xs-6{
  line-height: 70px;    /* da cancellare in modo tale che si possa adattare al contenuto */
  border: 2px solid yellow;
}

.ll_nav .container .row .col-xs-6 img{
  width: 100%;
  max-height: 70px;
}
/* /navbar da finire */




main{
  margin-top: 100px;
}

.ll_jumbotron{
  width: 100%;
  background-image: url(../img/bg-banner-home.jpg);
  background-position: center;
}

.ll_jumbotron .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ll_jumbotron .container .row .col-xs-12{
  /* height: 200px;  */   /* da cancellare in modo tale che si possa adattare al contenuto */
  border: 2px solid yellow;
}

.ll_jumbotron .container .row .col-xs-12 h1{
  font-family: Roboto;
  font-weight: 700;
  font-size: 64px;
  color: #b3c7ff;
}
.ll_jumbotron .container .row .col-xs-12 p{
  font-family: Roboto;
  font-weight: 700;
  font-size: 22px;
  color: #b3c7ff;
}

.ll_jumbotron .container .row .col-xs-12.col-sm-5.col-lg-5 .container-fluid{
  padding-top: 20px;
  padding-bottom: 20px;
}
.ll_jumbotron .container .row .col-xs-12.col-sm-5.col-lg-5 .container-fluid h2{
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
}

.logo_tasto{
  width: 20px;
}

.ll_jumbotron .container>.row>[class*="col-"]{
  height: 400px;
}

.ll_jumbotron .container .row .container-fluid{
  height: 100%;
}

@media all and (max-width: 480px){
  .ll_jumbotron .container>.row>[class*="col-"]{
    height:600px;
  }
}
/* sezione con i loghi */

.ll_loghi{
  background-color: #f3f5f9;
}

.ll_loghi .container .row [class*="col-"]{
  border: 2px solid grey;
}

.ll_loghi .container .row .col-xs-12{
  height: 100px;
}

.ll_loghi .container .row.ll_righa_loghi [class*="col-"]{
  height: 150px;
  border: 2px solid lightgrey;
}

.ll_loghi .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* sezione deploy and scale seamlessly */
.ll_delayandscale {
  background-color: red;
}

.ll_delayandscale .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ll_delayandscale .container .row [class*="col-"]{
  height: 100px;
  border: 2px solid pink;
}
/* classe da cancellare una volta finito l'esercizio */
.ll_delayandscale .container .row .ll_nested{
  height: auto;
}

/* sezione con titolo designed for developers */

.ll_designedfordevelopers .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ll_designedfordevelopers .container .row [class*="col-"]{
  height: 100px;
  border: 2px solid red;
}

/* sezione con titolo features */
.ll_features .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ll_features .container .row [class*="col-"]{
  height: 100px;
  border: 2px solid orange;
}

/* sezione con la tabella */
.ll_tabellatestspeed {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
.ll_tabellatestspeed .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ll_tabellatestspeed .container .row [class*="col-"]{
  height: 100px;
  border: 2px solid green;
}

/* sezione get started */
.ll_getstarted{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.ll_getstarted .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ll_getstarted .container .row [class*="col-"]{
  height: 100px;
  border: 2px solid green;
}

/* footer */

.ll_footer{
  background-color: chocolate;
}

.ll_footer .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ll_footer .container .row [class*="col-"]{
  height: 100px;
  border: 2px solid black;
}

.ll_footer .container .row .ll_nested{
  height: auto;
}